<html>
  <head>
    <title>Product: {{{ name }}}</title>
  </head>
  <body>
    <h1>{{{ name }}}</h1>
    <p>ID: {{{ id }}}</p>
    <img src="{{{ image }}}" alt="{{{ name }}}"/><br/>
    <a href="{{{ collectionUrl }}}">Back to products</a>
  </body>
</html>
